#hero{
    text-align:center;
    color:#BF9673;
}


h1{
    font-size: 110px;
    font-weight: lighter;
    margin-top: 65px;
    margin-bottom:5px;
    font-family:serif;
} 

h2{
    margin-top:0px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.button {
  display: inline-block;
  text-align: center;
  line-height: 60px; 
  margin-top: 10px;
  width: 300px;
  height: 60px;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  background-color: #835C49;
  color: #F8E8DD;
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  opacity: 0.9;
  
}


.fitness-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: -350px; 
  margin-bottom: 100px;
}

.fbtn {
  background-color: #835C49;
  color: #F8E8DD;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: 0.3s;
}

.fbtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}



.mindfullness-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: -350px; 
  margin-bottom: 100px;
}

.mbtn {
  background-color: #835C49;
  color: #F8E8DD;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: 0.3s;
}

.mbtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}




.skincare-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: -350px; 
  margin-bottom: 100px;
}

.sbtn {
  background-color: #835C49;
  color: #F8E8DD;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: 0.3s;
}

.sbtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}


.nutrition-buttons {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: -300px; 
  margin-bottom: 100px;
}

.nbtn {
  background-color: #835C49;
  color: #F8E8DD;
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 18px;
  font-family: 'Courier New', Courier, monospace;
  cursor: pointer;
  transition: 0.3s;
}

.nbtn:hover {
  opacity: 0.9;
  transform: scale(1.05);
}


 
h2{
    font-weight: 900px;
}

p{
    font-family:'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size:larger;
}
.head{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900px;
}

ul{
    font-family:'Courier New', Courier, monospace;
    font-size:large;

}
    
form{
    font-family: 'Courier New', Courier, monospace;
}

#sign {
    width: 150px;
    height:20px;
    margin-bottom: 100px;
}

#foot{ 
    font-weight:medium;
    font-family:unset;
    margin-top: 200px;
    margin-bottom: 0px;
}


#img1, #img2,#img3,#img4 {
  width: 40%;
  height: auto;
  aspect-ratio: 4 / 3; 
  border-radius: 15px;
}



#fit img, #mind img, #skin img, #food img {
  transition: transform 0.3s ease;
}

#fit img:hover, #mind img:hover, #skin img:hover, #food img:hover {
  transform: scale(1.05);
}


#fit{
    display: flex;             
    gap: 20px;              
    margin-top: 50px;
    line-height: 50px;
   margin-bottom:420px;


}

#mind{
    display: flex;             
    gap: 20px;              
    margin-top: 50px;
    line-height: 50px;
    margin-bottom:420px;

}

#skin{
    display: flex;             
    gap: 20px;              
    margin-top: 50px;
    line-height: 50px;
    margin-bottom:420px;

}

#food {
    display: flex;             
    gap: 20px;              
    margin-top: 50px;
    line-height: 50px;
    margin-bottom:350px;
}

*{
    color:#BF9673;
}
body{
    background-color:#EFE5DC;


}





@keyframes slideUp {
  from { transform: translateY(50px); opacity: 0; }
  to   { transform: translateY(0); opacity: 1; }
}

h1 {
  animation: slideUp 1.5s ease-out forwards;
}



@keyframes vanish {
  0%   { opacity: 0; transform: scale(0.8); }
  100%  { opacity: 1; transform: scale(1); }
}

#tag {
    font-size:xx-large;
  animation: vanish 3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}



/* @keyframes slideRight {
  from { transform: translateX(-50px); opacity: 0; }
  to   { transform: translateX(0); opacity: 1; }
}

#img1,#img2,#img3,#img4 {
  animation: slideRight 1.5s ease-out forwards;
}  */
  /* not working, as seen only when reload */


  